
    

<h1> Create pin  </h1>




<form method="POST">

    <div>
        <label for="title"> Title  </label>
        <input type="text"  id="title" name="title">

    </div>
    
    <div>
        <label for="description"> description  </label>
        <textarea  id="description" rows="5" cols="60" name="description"></textarea>

    </div>
    <input type="submit" value="Create Pin">
</form>